{% extends "base.html" %} {% block titulo %} Lista de clientes {% endblock %}
{%block contenido %}

<div class="content-calificaciones">  
  <div class="filters">
    <div class="content-input">
      <img src="" alt="find">
      <input type="text" placeholder="Buscar por nombre...">    
    </div>

    <div class="content-input">
      <span>Cargo: </span>
      <select class="select" name="" id="">
        <option value="">Personal trainer</option>
        <option value="">Servicio al cliente</option>
      </select>
    </div>

    <div class="content-input">
      <span>Local: </span>
      <select class="select" name="" id="">
        <option value="">Miraflores</option>
        <option value="">Surco</option>
        <option value="">La Molina</option>
      </select>
    </div>

    <div class="content-input">
      <span>Estrellas: </span>
      <select class="select" name="" id="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
        <option value="">5</option>
      </select>
    </div>

    <button class="button-blue">Crear usuario</button>
  </div>

  <div class="content-info">
    <div>
      <span>Total de trabajadores:</span>
      <span>14</span>
    </div>
    <div class="pagination">
      <button class="button-trans">Anterior</button>
      <div class="number">
        1
      </div>
      <button class="button-blue">Siguiente</button>
    </div>
  </div>

  <div class="tabla">
    <div class="header">
      <span>Trabajador</span>
      <span>Inicio de contrato</span>
      <span>Fin de contrato</span>
      <span>Horario</span>
      <span>Estrellas</span>
      <span>Opciones</span>
    </div>
    <div class="body">
      {% for employee in employees %}
          <div class="row">
            <div>
              <img src={{employee.img}} alt="perfil">
              <aside>
                  <h2>{{employee.name}}</h2>
                  <span>{{employee.role.name}}</span>
              </aside>
            </div>

            <div>
              <span>{{employee.contract_start_date}}</span>
            </div>

            <div>
              <span>{{employee.contract_end_date}}</span>
            </div>

            <div>
              <span>{{employee.work_schedule_id}}</span>
            </div>

            <div>
              <img src="" alt="x">
              <img src="" alt="x">
              <img src="" alt="x">
              <img src="" alt="x">
              <img src="" alt="x">
            </div>
            
            <div>
              <img src="" alt="a">
              <img src="" alt="a">
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
