{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{% block titulo %} {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />    
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/calificaciones.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Keania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="header">
      <div class="">        
        <a href="">Inicio</a>
        <a href="">Nosotros</a>
        <a href="">Sedes</a>        
        <a href="">Contactanos</a>        
        <a class="logo" href="{% url 'calificaciones' %}">
          <div>sportlife</div>
          <span>fitness club</span>
        </a>        
        <a href="">Planes</a>        
        <a href="">Horarios</a>        
        <a href="">Programas</a>        
        <div class="group-redes">
          <a href="">
            <img src="" alt="redes">
          </a>
          <a href="">
            <img src="" alt="redes">
          </a>
          <a href="">
            <img src="" alt="redes">
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12">{% block contenido %} {% endblock %}</div>
      </div>
    </div>        
  </body>
</html>
